.notfound-container{
margin: 5rem 0;
}
.notfound-container .notfound-location{
font-size: 14px;
}
.notfound-container .notfound-location a{
    color: rgb(126, 129, 131);
    text-decoration: none;
}
.notfound-container .notfound-details{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    margin: 1rem 0 7rem 0;
}
.notfound-container .notfound-details .fourheader{
    font-size: 110px;
    font-weight: 400
}
.notfound-container .notfound-details .four-more{
    font-size: 16px;
}
.notfound-container .notfound-details a{
    background-color:  rgb(219,68,68);
    font-size: 16px;
    width: 254px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    border-radius: 10px;
}